@import "$scss/variables.scss";

.artistListWrapper {
  border: 1px solid $color5;
  margin-top: 20px;
  padding: 10px;

  &__text {
    margin: 0 10px;
    line-height: 18px;
  }

  &__list {
    &__thatem {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__filter {
    font-weight: 600;
    margin: 20px 8px 10px;
  }

  &__option {
    display: inline-block;
    border-bottom: 1px solid transparent;
    font-weight: 300;
    padding: 4px 6px;
    margin: 0 2px;
    cursor: pointer;

    &:hover {
      border-color: $color4;
    }

    &--active {
      background: $color5;
      border-color: $color4;
    }
  }

  &__content {
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .artistListItem {
      width: 33.33%;
      float: left;

      &__wrapper {
        background: $color6;
      }

      &__img {
        height: 140px;
        background-size: cover !important;
      }

      &__name,
      &__portrayed,
      &__status,
      &__dob,
      &__appearance {
        span {
          font-weight: 600;
        }
      }

      * {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      @media (max-width: $max-widths-md) {
        width: 50%;
      }

      @media (max-width: $max-widths-sm) {
        width: 100%;
      }
    }
  }

  &__loader {
    position: relative;
    height: 60px;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.2s;

    &--active {
      visibility: visible;
    }

    &--hide {
      height: 0px;
    }
  }
}