<div sd_class="artistListItem p-2">
  <div sd_class="artistListItem__wrapper p-2">
    <div sd_class="artistListItem__img mb-2"></div>
    <div sd_class="artistListItem__name mb-1">
      <span>Name: </span>
    </div>
    <div sd_class="artistListItem__portrayed mb-1">
      <span>Portrayed: </span>
    </div>
    <div sd_class="artistListItem__status mb-1">
      <span>Status: </span>
    </div>
    <div sd_class="artistListItem__dob mb-1">
      <span>Birthday: </span>
    </div>
    <div sd_class="artistListItem__appearance mb-1">
      <span>Appearance: </span>
    </div>
  </div>
</div>
