@import "$scss/variables.scss";

.artistListWrapper {
  border: 1px solid $color5;
  margin-top: 20px;
  padding: 10px;

  &__text {
    line-height: 18px;
  }

  &__list {
    &__item {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__filter {
    font-weight: 600;

    &__option {
      display: inline-block;
      border-bottom: 1px solid transparent;
      font-weight: 300;
      padding: 4px 6px;
      margin: 0 2px;
      cursor: pointer;

      &:hover {
        border-color: $color4;
      }

      &--active {
        background: $color5;
        border-color: $color4;
      }
    }
  }
}