<div sd_class="artistListWrapper">
  <div sd_class="artistListWrapper__text">
    <h4>Lorem Ipsum</h4>
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout. The point of using
    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    opposed to using 'Content here, content here', making it look like readable
    English.
  </div>
  <div sd_class="artistListWrapper__filter">
    Sort by:
    <span sd_class="artistListWrapper__option" type="status"> Status </span>
    <span sd_class="artistListWrapper__option" type="name">Name</span>
    <span sd_class="artistListWrapper__option" type="appearance">
      Appearance
    </span>
  </div>
  <div sd_class="artistListWrapper__content"></div>
  <div sd_class="artistListWrapper__loader">
    <div sd_class="loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
