<div sd_class="headerModule">
  <div sd_class="headerModule__logo">
    <img src="/icons/logo.svg" sd_class="mr-2"/>
    Logo
  </div>
  <div sd_class="headerModule__menu">
    <img src="/icons/burger-menu.svg" sd_class="headerModule__menu__trigger" />
    <div sd_class="headerModule__menu__list">
      <div sd_class="headerModule__menu__list__item">Item 1</div>
      <div sd_class="headerModule__menu__list__item">Item 2</div>
      <div sd_class="headerModule__menu__list__item">Item 3</div>
    </div>
  </div>
</div>
