<div className="headerModule">
  <div className="headerModule__logo">
    <img src="/icons/logo.svg" />
    Logo
  </div>
  <div className="headerModule__menu">
    <img src="/icons/burger-menu.svg" className="headerModule__menu__trigger" />
    <div className="headerModule__menu__list">
      <div className="headerModule__menu__list__item">Item 1</div>
      <div className="headerModule__menu__list__item">Item 2</div>
      <div className="headerModule__menu__list__item">Item 3</div>
    </div>
  </div>
</div>
