@import "$scss/variables.scss";

.headerWrapper {
  background: $color5;
  height: 40px;
  line-height: 40px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    background: inherit;
    z-index: -1;
  }

  img {
    width: 30px;
    margin: 5px;
  }

  &__logo {
    float: left;
    font-size: 18px;

    img {
      float: left;
      margin-left: 0;
    }
  }

  &__menu {
    float: right;
    position: relative;

    img {
      display: none;
      float: right;
      margin-right: 0;
    }
  }

  &__item {
    float: left;
    width: 70px;
    text-align: center;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &--active {
      background: rgba(0, 0, 0, 0.1);
      border-color: $color1;
    }
  }
}

#root:not(.sm) {
  .headerWrapper {
    &__menu {
      float: right;

      &--opened {
        .headerWrapper__menu__list {
          display: block;
          background: #fff;
          z-index: 9;
        }
      }

      img {
        display: block;
      }
    }

    &__list {
      display: none;
      position: absolute;
      top: 100%;
      right: -2px;
      border: 1px solid $color4;
      box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    }

    &__item {
      float: unset;

      &--active {
        border-color: transparent;
      }
    }
  }
}