<div sd_class="headerWrapper">
  <div sd_class="headerWrapper__logo">
    <img src="/icons/logo.svg" sd_class="mr-2" />
    Logo
  </div>
  <div sd_class="headerWrapper__menu">
    <img src="/icons/burger-menu.svg" sd_class="headerWrapper__menu__trigger" />
    <div sd_class="headerWrapper__menu__list">
      <div
        sd_class="headerWrapper__menu__list__item"
        sd_class_modifier="active"
      >
        Item 1
      </div>
      <div sd_class="headerWrapper__menu__list__item">Item 2</div>
      <div sd_class="headerWrapper__menu__list__item">Item 3</div>
    </div>
  </div>
</div>
