<div sd_class="sidebarWrapper">
  <div sd_class="sidebarWrapper__text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </div>
  <hr />
  <div sd_class="sidebarWrapper__list">
    <div sd_class="sidebarWrapper__list__item">Item 1</div>
    <div sd_class="sidebarWrapper__list__item">Item 2</div>
    <div sd_class="sidebarWrapper__list__item">Item 3</div>
  </div>
</div>
