$color1: #242038;
$color2: #A697D8;
$color3: #BDB9DF;
$color4: #cdc8d0;
$color5: #e0e0e0;
$color6: #ebe9ec;

$spacer: 4px;
$spacers: (1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
);